* {
  margin: 0;
  padding: 0;
}

.cart-wrapper {
  width: 50%;
  border: 1px solid black;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  margin-left: 10%;
}
.img-wrapper img{
  width: 150px;

}
.btn-wrapper button{
  padding: 10px 15px;
    border-radius: 7px;
    margin-top: 10px;
}
.add-to-cart img{
  width: 60px;
    position: absolute;
    right: 1%;
    top: 1%;
}